<div class="container mt-5">
  <div class="col-lg-6 mx-auto bg-white p-4 rounded shadow">
    <h2 class="h4 mb-4 text-center">
      {{ isNewTask ? 'Create New Task' : 'Edit Task' }}
    </h2>
    <form (ngSubmit)="saveTask()">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input 
          type="text" 
          id="title" 
          [(ngModel)]="task.title" 
          name="title" 
          required
          class="form-control"
        >
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea 
          id="description" 
          [(ngModel)]="task.description" 
          name="description"
          rows="3"
          class="form-control"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select 
          id="status" 
          [(ngModel)]="task.status" 
          name="status"
          class="form-select"
        >
          <option value="pending">Pending</option>
          <option value="in_progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div>
        <button 
          type="submit"
          class="btn btn-primary w-100"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
